@use "./mixins" as *;


.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    @include flex(column, flex-start, center);
    gap: .5rem;
    padding: 2rem;
    .description {


    }
}

.api__container {
    width: 100%;

}

.description {
    margin-bottom: .4rem;
    word-wrap: normal;
    line-height: 1.2rem;
}
.api__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &>li {
        font-weight: 300;
        margin-left: 1.5rem;
        margin-block: .2rem;
        &>a {
            text-decoration: none;
            color: #fff;
 
        }
    }
}
