
@use "./mixins" as *;



.forecast {

    width: 100vw;
    @include flex(column, center, center);
    gap: 1rem;
}

.forecast__day {
    @include flex(column, center, center);
    width: 90%;
    border: 1px solid black;
    .forecast__day_title {
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.2rem;
        text-align: center;
        background-color: black;
        color: #fff;
    }
    .forecast__row {
        width: 100%;
        margin-top: 2rem;
        @include flex(row, center, space-around);
    }
    .forecast__desciption {
        height: 1rem;
        text-align: center;
        text-transform: capitalize;
        margin-block: 1rem 2rem;
    }
}

.forecast__item {
    cursor: pointer;
    @include flex(column, center, center);
    &>* {
        pointer-events: none;
    }
    .forecast__time {
        font-size: .8rem;
    }
    .forecast__temp {
        font-size: .8rem;
    }
}