
@use "./mixins" as *;


.navbar {
    width: calc(100% - 3rem);
    padding-inline: 1.5rem;
    height: 5rem;
    @include flex(row, center, space-between);
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%,  rgba(27, 26, 26, 0.6) 70%, rgba(48, 48, 48, 0.1) 100%);
    position: fixed;
    top: 0;
    z-index: 99;
    &>* {
        cursor: pointer;
    }
    .settings__icon {
        font-size: 1.5rem;
        :hover {
            
        }
    }

}


.weather__gadget {
    @include flex(row, flex-start, center);
    height: 3rem;
    position: relative;
    .gadget__main {
        @include flex(row, center, center);
        height: 100%;
        font-weight: 500;
        >* {
            @include flex(row, center, center);
            gap: .3rem;
            height: 95%;
            padding-inline: .3rem;
            border-inline: 1px solid transparent;
            border-top: 1px solid transparent;
            border-radius: .5rem .5rem 0 0;
            &:hover {
                color: black;
                background-color: #fff;
                height: calc(95% - 3px);
                border-color: black;
                border-bottom: 3px solid #fff;
                margin-bottom: -3px;
            }
            &>* {
                pointer-events: none;
            }
        }



    }
    
    
    .gadget__extra {
        z-index: 20;
        position: absolute;
        bottom: 0rem;
        transform: translateY(100%);
        width: 100%;
        background-color: #fff;
        color: black;
        border-inline: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 0 .5rem .5rem;
        .gadget__extra__text {

            font-size: .9rem;
            font-weight: 300;
            padding: .5rem 1rem;
        }
        &.temp {
            text-transform: capitalize;
        }
    }   
}


#settings,
#expand__forecast,
#gadget__icon {
    height: calc(95% - 3px);
    
}
#gadget__icon {

}